* { padding: 0; margin: 0; }
body { font-size: 14px; font-family: Arial Black;}


/*   HEADER   */
header {
	width: 100%;
	height: 600px;
	background: url('graphics/top.jpg') center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	position: relative;
	z-index: 0;
}
header h1 {
	float: left;
	margin-left: 74%;
	margin-top: 17px;
	font-size: 4em;
	text-align: right;
	line-height: 1em;
}
header h1 em { display: block; font-style: normal; font-size: 0.75em; }
header p {
	float: left;
	margin-left: 74%;
	margin-top: 25px;
	font-family: Arial;
}
header nav {
	float: left;
	margin-left: 74%;
	height: 440px;
}
header nav ul {
	margin: 25px 0 0 100px;
	text-align: right;
	list-style: none;
	width: 147px;
}
header nav a {
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
	padding-right: 50px;
	background-position: center right;
	background-repeat: no-repeat;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color;
	transition-property: color;
}
header nav #nav-informations a {
	background-image: url('graphics/icon_info.jpg');
}
header nav #nav-informations a:hover {
	color: #ff4d1e;
	background-image: url('graphics/icon_info_h.jpg');
}
header nav #nav-photo a {
	background-image: url('graphics/icon_photo.jpg');
}
header nav #nav-photo a:hover {
	color: #0091f7;
	background-image: url('graphics/icon_photo_h.jpg');
}
header nav #nav-occupancy a {
	background-image: url('graphics/icon_occupancy.jpg');
}
header nav #nav-occupancy a:hover {
	color: #f9f703;
	background-image: url('graphics/icon_occupancy_h.jpg');
}
header nav #nav-reservation a {
	background-image: url('graphics/icon_reservation.jpg');
}
header nav #nav-reservation a:hover {
	color: #26f217;
	background-image: url('graphics/icon_reservation_h.jpg');
}
header nav #nav-contact a {
	background-image: url('graphics/icon_contact.jpg');
}
header nav #nav-contact a:hover {
	color: #ae00ff;
	background-image: url('graphics/icon_contact_h.jpg');
}


article h1 { float: left; font-size: 1.5em; margin: 10px 0 0 20px; }
article h1 strong { color: #fff; }
article h1 a { text-decoration: none; }
article h2 { margin-bottom: 10px; }
article section p { text-align: justify; font-family: Arial; }
article nav { float: left; clear: both; margin-top: 20px; width: 100%; }
article nav div { margin: 0 auto; width: 100px; }
article nav a span, article nav a em, article nav a strong { display: block; float: left;
	background-repeat: no-repeat; }
article nav a span { width: 29px; height: 29px; }
article nav a em { width: 16px; height: 11px; margin-top: 10px; }
article nav a:hover span { background-position: -29px 0; }
article nav a:hover em { background-position: -16px 0; }
article nav a strong { margin: 5px 0 0 10px; width: 40px; background-position: 40px 5px; }


/*   ARTICLE INFO   */
#info {
	width: 100%;
	background: url('graphics/sunflower.png') 90% top no-repeat;
	margin-top: -290px;
	position: relative;
	z-index: 10;
	pointer-events: none;
}
#info .cover {
	width: 100%;
	background: url('graphics/meadow.png') left 174px repeat-x;
	padding-top: 309px;
}
#info .content {
	width: 100%;
	background: #ffdbd2 url('graphics/meadow_bg.jpg') repeat-x;
	height: 515px;
	pointer-events: auto;
}
#info h1 a {
	color: #ffc5b5;
}
#info section { float: right; margin: 10px 70px 0 0; width: 63%; }
#info nav a span { background-image:  url('graphics/arrow-down-blue.png'); }
#info nav a em { background-image:  url('graphics/icon_photo_t.png'); }
#info nav a strong { color: #0392f7; }
#info nav a:hover strong { color: #0b03f7; }


/*   ARTICLE PHOTO   */
#photo {
	width: 100%;
	background: url('graphics/reed.png') 5% top no-repeat;
	margin-top: -368px;
	position: relative;
	z-index: 20;
	pointer-events: none;
}
#photo .cover {
	width: 100%;
	background: url('graphics/wave.png') left 319px repeat-x;
	padding-top: 405px;
}
#photo .content {
	width: 100%;
	background: #ceeaff url('graphics/wave_bg.jpg') repeat-x;
	height: 550px;
	pointer-events: auto;
}
#photo h1 a {
	color: #d1ecff;
}


/*   ARTICLE OCCUPANCY   */
#occupancy {
	width: 100%;
	background: url('graphics/rock.png') left top no-repeat;
	margin-top: -367px;
	position: relative;
	z-index: 30;
}
#occupancy .cover {
	width: 100%;
	background: url('graphics/stones.png') left 325px repeat-x;
	padding-top: 385px;
}
#occupancy .content {
	width: 100%;
	background: #fefdc2 url('graphics/stones_bg.jpg') repeat-x;
	height: 600px;
}
#occupancy h1 a {
	color: #ffffd6;
}


/*   ARTICLE RESERVATION   */
#reservation {
	width: 100%;
	background: url('graphics/mushroom.png') 92% top no-repeat;
	margin-top: -286px;
	position: relative;
	z-index: 40;
}
#reservation .cover {
	width: 100%;
	background: url('graphics/moss.png') left 239px repeat-x;
	padding-top: 302px;
}
#reservation .content {
	width: 100%;
	background: #b7fbb2 url('graphics/moss_bg.jpg') repeat-x;
	height: 600px;
}
#reservation h1 a {
	color: #dbffd8;
}


/*   ARTICLE CONTACT   */
#contact {
	width: 100%;
	background: url('graphics/grass.png') repeat-x;
	margin-top: -188px;
	padding-top: 229px;
	position: relative;
	z-index: 50;
}
#contact .content {
	width: 100%;
	background: #000;
	height: 600px;
}
