<div id="reservation-control">

	{if $flashes}
	<ul n:if="$flashes" class="flashes">
		<li n:foreach="$flashes as $flash" class="flash">{$flash->message}</li>
	</ul>

	{else}
	{var $control[reservationForm]->action .= '#rezervace'}
	{control reservationForm}
	{/if}

</div>
