<div id="reservation-control">

	<ul n:if="$flashes" class="flashes">
		<li n:foreach="$flashes as $flash" class="flash">{$flash->message}</li>
	</ul>

	{var $control[reservationForm]->action .= '#rezervace'}
	{control reservationForm}

</div>
