#occupancy section li table {
  margin: 30px 0 0 22px;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: Arial;
}
#occupancy section li tbody {
  border-left: 1px #aaaaaa solid;
  border-top: 1px #aaaaaa solid;
  /*
		 	a:hover, .available .hover { background: @hoverColor; }

			.occupied-morning.available .hover { background: @hoverColor url('../graphics/selected-occupied-evening.jpg') repeat-y; }
			.occupied-evening .last-week-day.hover { background: @hoverColor url('../graphics/selected-occupied-morning.jpg') repeat-y; }
			.first-week-day {
				.hover { background: @hoverColor url('../graphics/selected-evening.jpg') repeat-y; }
				.last-week-day.hover { background: @availableColor url('../graphics/selected-morning.jpg') repeat-y; }
			}
			*/
}
#occupancy section li tbody td {
  border: none;
  color: #3e3e3e;
}
#occupancy section li tbody span,
#occupancy section li tbody a {
  display: block;
  text-align: right;
  padding: 1px 2px;
  background: #95fffc;
  border-right: 1px #aaaaaa solid;
  border-bottom: 1px #aaaaaa solid;
}
#occupancy section li tbody a {
  text-decoration: none;
  color: #000;
}
#occupancy section li tbody .available span,
#occupancy section li tbody .available a {
  background: #93ff4c;
}
#occupancy section li .daynames td {
  padding: 2px;
  color: #666;
}
#occupancy section li .daynames .weekend {
  color: #7f0000;
}
#occupancy section li .month {
  color: #ff9d40;
}
#occupancy section li .month span {
  color: #ffce92;
}
#occupancy section li .outday {
  color: #5a9790;
}
#occupancy section li .available.outday {
  color: #619742;
}
#occupancy section li .outday .hover {
  color: #978f00;
}
#occupancy section li .today span {
  background: #25b9ff;
}
#occupancy section li .occupied-morning.occupied-evening span {
  background: #ff5c45;
  color: #8a3627;
}
#occupancy section li .occupied-morning.available span,
#occupancy section li .occupied-morning.available a {
  background: #93ff4c url('../graphics/occupied-morning.jpg') repeat-y;
}
#occupancy section li .occupied-evening span {
  background: #ff5c45 url('../graphics/occupied-evening.jpg') repeat-y;
  color: #8a3627;
}
#occupancy figure .calendar-legend {
  padding: 0 5px;
  border-width: 1px;
  border-style: solid;
}
#occupancy figure .calendar-legend-free {
  border-color: #327f00;
  background: #93ff4c;
}
#occupancy figure .calendar-legend-occupied {
  border-color: #780f00;
  background: #ff5c45;
}
#occupancy .loading {
  float: left;
  margin: 105px 0 0 97px;
}
