parameters:
	database:
		dsn:
		user:
		password:

	debugEmail:
	orderEmail:
		from: ubytovani@<host>
		name: "Vilémka.cz rezervace"
	infoEmail:
		from: info@<host>
		name: "Vilémka.cz info"

	supplier:
		contactPerson:
		idNumber:
		phone:
	signature:
		- "S pozdravem a přáním hezkého dne"
		- %supplier.contactPerson%
		- "IČO: %supplier.idNumber%"
		- "Ubytování v jižních čechách - chata Vilémka (http://<host>)"
		- "tel.: %supplier.phone%"
		- "e-mail.: <sender>"
	facebookUrl:

	maxPersonsCapacity: 6


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Vilemka\Presenters\*Presenter

	session:
		expiration: 14 days

	database:
		dsn: %database.dsn%
		user: %database.user%
		password: %database.password%
		options:
			lazy: yes


services:
	-
		class: Vilemka\Presenters\HomepagePresenter
		setup:
			- setDebugEmail(%debugEmail%)

	- Vilemka\RouterFactory
	router: @Vilemka\RouterFactory::createRouter

	calendar:
		class: Calendar
		setup:
			- setDayHeadings([NE, PO, ÚT, ST, ČT, PÁ, SO])
			- setMonthHeadings([Leden, Únor, Březen, Duben, Květen, Červen, Červenec, Srpen, Září, Říjen, Listopad, Prosinec])

	noreplySender:
		class: Vilemka\ValueObject\EmailAddress(..., noreply@<host>)
		autowired: no
	orderEmail:
		class: Vilemka\ValueObject\EmailAddress(..., %orderEmail.from%, %orderEmail.name%)
		autowired: no
	infoEmail:
		class: Vilemka\ValueObject\EmailAddress(..., %infoEmail.from%, %infoEmail.name%)
		autowired: no

	- Vilemka\OccupationRepository
	- Vilemka\OccupationCalendar
	- Vilemka\Components\ReservationControl
	- Vilemka\Components\ReservationForm(%maxPersonsCapacity%)
	- Vilemka\MessageRepository
	- Vilemka\Components\FooterControl([
		contactPerson: %supplier.contactPerson%
		idNumber: %supplier.idNumber%
		phone: %supplier.phone%
		facebookUrl: %facebookUrl%
		email: @orderEmail
	])
	-
		class: Vilemka\UserOrderNotifier(..., ..., @orderEmail)
		setup:
			- setSignature(%signature%, @httpRequest)
	- Vilemka\AdminOrderNotifier(..., ..., @noreplySender, @orderEmail)
	-
		class: Vilemka\UserMessageCopyNotifier(..., ..., @infoEmail)
		setup:
			- setSignature(%signature%, @httpRequest)
	- Vilemka\AdminMessageNotifier(..., ..., @noreplySender, @infoEmail)
