parameters:
	debugEmail:

	maxPersonsCapacity: 6

	noreplyEmial: noreply@<host>

	orderEmail:
		from: ubytovani@<host>
		fromName: Vilémka.cz rezervace
	messageEmail:
		from: info@<host>
		fromName: Vilémka.cz info


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Vilemka\Presenters\*Presenter

	session:
		expiration: 14 days


services:
	- Vilemka\RouterFactory
	router: @Vilemka\RouterFactory::createRouter

	calendar:
		class: Calendar
		setup:
			- setDayHeadings([NE, PO, ÚT, ST, ČT, PÁ, SO])
			- setMonthHeadings([Leden, Únor, Březen, Duben, Květen, Červen, Červenec, Srpen, Září, Říjen, Listopad, Prosinec])

	- Vilemka\OccupationRepository
	- Vilemka\OccupationCalendar
	- Vilemka\Components\ReservationForm(%maxPersonsCapacity%)
	- Vilemka\UserNotifier(..., ..., %orderEmail.from%, %orderEmail.fromName%)
	- Vilemka\AdminNotifier(..., ..., %noreplyEmial%)
