parameters:
	debugEmail:

	maxPersonsCapacity: 6

	orderEmail:
		from: ubytovani@<host>
		name: Vilémka.cz rezervace
	messageEmail:
		from: info@<host>
		name: Vilémka.cz info


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Vilemka\Presenters\*Presenter

	session:
		expiration: 14 days


services:
	- Vilemka\Presenters\HomepagePresenter(%orderEmailFrom%, %messageEmailFrom%)

	- Vilemka\RouterFactory
	router: @Vilemka\RouterFactory::createRouter

	calendar:
		class: Calendar
		setup:
			- setDayHeadings([NE, PO, ÚT, ST, ČT, PÁ, SO])
			- setMonthHeadings([Leden, Únor, Březen, Duben, Květen, Červen, Červenec, Srpen, Září, Říjen, Listopad, Prosinec])

	- Vilemka\OccupationCalendar

	- Vilemka\Components\ReservationForm(%maxPersonsCapacity%)

	- Vilemka\NewOrderMailer(..., %orderEmail.from%, %orderEmail.name%)
