<section>
	<h2>Co nabízíme</h2>
	<p><strong>Ubytování</strong> / <strong>rekreace</strong> v chatě na samotě u lesa v CHKO Třeboňsko,
		5 km od <strong><a href="http://www.kardasova-recice.cz/" target="_blank">Kardašovy Řečice</a></strong> (16 km od Jindřichova Hradce). </p>
	<p>Dřevěná roubená chata 8,5 x 4,5 m s podkrovím včetně <strong>elektrického proudu</strong> a <strong>teplé vody</strong>!</p>
	<p>Kapacita <strong>{$vars->capacity} osob</strong>.</p>
	<p>V chatě se nachází sociální zařízení (<strong>sprcha</strong>, <strong>WC</strong>, <strong>umyvadlo</strong>),
		kuchyňský kout (<strong>lednice</strong>, <strong>mikrovlnná trouba</strong>, <strong>pečící trouba</strong>,
		<strong>vařič</strong>, <strong>varná konvice</strong>, <strong>dřez</strong> s teplou vodou, nádobí).
		V přízemí se dále nachází jídelní stůl, skříň a palande (2 lůžka). V podkroví se nachází 4 lůžka.</p>
	<p>Přitápění pomocí elektrického radiátoru. Před chatou se nachází posezení s <strong>ohništěm</strong>.
		Psi jsou povolení, jiné zvíře nám prosím sdělte.</p>
</section>
<section>
	<h2>Okolí</h2>
	<ul>
		<li>1 km - <a href="http://www.e-ryby.cz/stranka-rybnik-popelov-8" target="_blank">sportovní rybolov na rybníce Popelov</a></li>
		<li>2 km - <a href="http://cs.wikipedia.org/wiki/Velk%C3%A1_Holn%C3%A1" target="_blank">rybník Holná</a>
			(koupání, půjčovna šlapadel, občerstvení)</li>
		<li>8 km - zámek <a href="http://www.jemcinazamek.cz/" target="_blank">Jemčina</a></li>
		<li>12 km - <a href="http://www.trebonsko.cz/naucna-stezka-veselske-piskovny" target="_blank">veselské pískovny</a></li>
		<li>16 km - <a href="http://bazen.jh.cz/" target="_blank">aquapark v Jindřichově Hradci</a></li>
		<li>20 km - <a href="http://www.aurora.cz/" target="_blank">Lázně Aurora</a>
			a <a href="http://www.berta.cz/" target="_blank">Bertiny lázně</a>
			v <a href="http://www.mesto-trebon.cz/" target="_blank">Třeboni</a></li>
		<li>25 km - zámek <a href="http://www.cervenalhota.cz/cs/zamek" target="_blank">Červená Lhota</a></li>
	</ul>
</section>
