<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Vilémka.cz</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	{block head}{/block}
</head>
<body>

<header>
	<h1><a name="top"><em>chata</em> Vilémka</a></h1>
	<p>ubytování v soukromí na samotě u lesa</p>
	<nav>
		<ul>
			<li id="nav-informations">
				<a href="#informace">info</a>
			</li>
			<li id="nav-photo">
				<a href="#foto">foto</a>
			</li>
			<li id="nav-occupancy">
				<a href="#obsazenost">obsazenost</a>
			</li>
			<li id="nav-reservation">
				<a href="#rezervace">rezervace</a>
			</li>
			<li id="nav-contact">
				<a href="#kontakt">kontakt</a>
			</li>
		</ul>
	</nav>
</header>

{include content}

{block scripts}
	<script src="{$basePath}/js/jquery-1.11.1.min.js"></script>
	<script src="{$basePath}/js/animations.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
{/block}
<div class="js-data">
	{block jsData}{/block}
</div>

</body>
</html>
