<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset} VILÉMKA.cz</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/screen.css">
	{block head}{/block}
</head>

<body>
	<ul n:inner-foreach="$flashes as $flash">
		<li class="flash {$flash->type}">{$flash->message}</li>
	</ul>

	{include content}

	{block scripts}
	<script src="{$basePath}/js/jquery-1.11.1.min.js"></script>
	<script src="{$basePath}/js/animations.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	{/block}
</body>
</html>
